@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-bg {
  background-color: transparent;
  opacity: 0.8;
  background-image: linear-gradient(#b3ecff50 1px, transparent 1px),
    linear-gradient(to right, #b3ecff50 1px, transparent 1px);
  background-position: 12px 12px;
  background-size: 20px 20px;
}
